/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/public/css/style.css
public/js/script.js
public/img/products/
/public/img/products/
public/img/aliados/
public/img/blogs/
public/img/nosotros/
public/img/products/
public/img/slider/
public/img/tienda/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
