// Font family
$font-family: 'Lato';

// With sidebar menu
$with-sidebar-menu: 300px;

// Colors
$white: #fff;
$black: #000;
$color-blue: #2f5597;
$color-gray: #EDEEF0;
$color-light-blue: #4a72b2;
$color-green: #008f2f;
$color-light-green: #92d050;
$color-light-green-end: #75aa39;
$color-orange: #cb6120;
$color-grey: #b7b7bb;