// Home

#home {
	.carousel-inner{
	     height: 100%;
	}
	.carousel-item {
		height: calc(100vh - 69.5px - 80.5px);
		margin-top: 69.5px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	@media (min-width: 992px) {
		background-image: none !important;
	}
	@media (max-width: 991px) {
		.carousel {
			display: none;
		}
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		@include size();
	}
}