// Tienda

#tienda {
	.row-title {
		margin-bottom: 20px;
		&::after {
			content: '';
			height: 2px;
			background-color: $dorado;
			display: block;
			margin-top: 15px;
			width: 100%;
		}
		a {
			display: inline-block;
			margin-right: 10px;
			img {
				width: 50px;
			}
		}
		h3 {
			color: $white;
			font-family: 'Segoe Bold';
		}
		select {
			max-width: 250px;
			@media (min-width: 768px) {
				float: right;
			}
			@media (max-width: 767px) {
				margin-top: 20px;
			}			
		}
	}

	.almayor {
		font-size: 11px;
		margin-bottom: 0px;
		position: relative;
		top: -15px;
		font-style: italic;
	}

	.row-productos {
		margin-right: 40px;
		margin-left: 40px;
		@media (max-width: 767px) {
			margin-right: 0px !important;
			margin-left: 0px !important;
		}
	}

	.modal {
		img.img-principal {
			width: 100%;
			display: none;
			@media (max-width: 767px) {
				display: block;
			}
		}
		.modal-content {
			border: 0px !important;
			background-color: #edeef0;
			margin: 0 auto;
		}
		.image-modal {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center top;
		}
		.modal-dialog, .modal-body, .modal-content {
			border-radius: 0px !important;
			padding: 0px !important;
		}
		.modal-dialog {
			min-width: 80% !important;
			background-color: $gris;
			border: 0px !important;
			@media (max-width: 767px) {
				width: 100% !important;
			}
		}
		.row, [class*="col-md-"], [class*="col-lg-"] {
			padding: 0px !important;
			margin: 0px !important;
		}
		label {
			font-family: 'Segoe Bold';
		}
		.container-description {
			border-top: 1px solid $dorado;
			padding: 20px;
			padding-left: 30px;
			padding-right: 30px;
			h5 {
				margin-bottom: 20px;
			}
			h4 {
				font-family: 'Segoe Bold';
				font-size: 25px;
			}
			.precio {
				color: $dorado;
				font-size: 22px;
				font-family: 'Segoe Bold';
				// margin-bottom: 0px;
			}
			.strong {
				line-height: 0.8;
			}
			.ellipsis {
				line-height: 20px;
		        position: relative;
		        height: 40px;
		        overflow: hidden;
			}
			a {
				font-family: 'Segoe Bold';
				font-style: italic;
				color: $dorado;
				display: inline-block;
			}
			.descripcion {
				margin-bottom: 5px;
			}
		}
		.container-texto {
			overflow: auto;
		}
		.container-add {
			padding: 20px;
			padding-left: 30px;
			padding-right: 30px; 
			.btn-add {
				@include degradado();
				border-radius: 0px !important;
				border: 0px !important;
				min-width: 100px;
				height: 32px;
				position: relative;
				top: -4px;
				img {
					width: 18px;
					position: relative;
					top: -3px;
				}
			}
			select {
				max-width: 300px;
			}
		}
		.item-cantidad {
			border: 1px solid #c0c0c0;
			display: inline-block;
			background-color: $white;
			color: $black;
			.add, .remove {
				padding: 0px !important;
				border-radius: 0px !important;
				margin-top: -7.5px;
				background-color: $white !important;
				position: relative;
				img {
					width: 15px;
					margin: 0 auto;
					margin-left: 5px;
					margin-right: 5px;
					position: relative;
					top: -1.5px;
					cursor: pointer;
				}
			}	
			.add {
				right: 1.5px;
			}
			.remove {
				left: 1.5px;
			}	
			span {
				font-size: 20px;
				border-right: 1px solid #c0c0c0;
				border-left: 1px solid #c0c0c0;
				width: auto;
				min-width: 35px;
				padding-right: 5px;
				padding-left: 5px;
				display: inline-block;
				text-align: center;
			}
		}
	}

	.container-item {
		a {
			text-decoration: none !important;
			color: $black !important;
		}
		margin: 10px;
		margin-left: auto;
		margin-right: auto;
		background-color: $white;
		max-width: 300px;
		.container-text {
			padding: 20px;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 0px;
			h4 {
				font-family: 'Segoe Bold';
			}
			p {
				font-size: 18px;
			}
		}
		& > a > img {
			width: 100%;
		}
		button {
			width: 100%;
			border-radius: 0px !important;
			background-color: transparent !important;
			border-top: 2px solid $dorado;
			border-bottom: 2px solid $dorado;
			img {
				height: 50px;
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
	}

	.filtro {
		display: none;
		position: absolute;
		left: 0px;
		top: 0px;
		height: 100vh;
		width: 100%;
		background-color: rgba(#000,.5);
		z-index: 99999999;
	}
	.filtro-container {
		button {
			@include button();
		}
		position: absolute;
		left: -500px;
		top: 0px;
		height: 100vh;
		min-width: 350px;
		@media (max-width: 400px) {
			min-width: 100%;
		}
		background-color: $white;
		z-index: 99999999;
		img {
			width: 50px;
			margin-right: 10px;
		}
		h3 {
			font-family: 'Segoe Bold';
			text-align: center;
			display: block;
			margin-bottom: 30px !important;
			margin-top: 20px !important;
		}
		h2 {
			border-bottom: 1px solid #c0c0c0;
			padding: 10px;
			font-family: 'Segoe Bold';
			font-size: 20px;
			.close {
				opacity: 1 !important;
				img {
					width: 15px;
					margin-top: -7.5px;
				}
			}
		}
		& > ul {
			list-style: none;
			border-bottom: 1px solid $dorado;
			padding-left: 0px !important;
			.form-check-label {
				cursor: pointer;
				[type="radio"] {
					cursor: pointer;
				}
				span {
					font-size: 20px;
					display: inline-block;
					position: relative;
					top: -5px;
					padding-left: 5px;
					cursor: pointer;
				}				
				padding-left: 10px;
			}
			& > li {
				margin-top: 20px;
				font-family: 'Segoe SemiBold';
				font-size: 30px !important;
				& > ul {
					& > li { 
						cursor: pointer;
						border-top: 1px solid $dorado !important;
						padding-top: 10px !important;
						padding-bottom: 2.5px !important;
						padding-left: 20px !important;
						font-size: 20px;
						&.item-desplegable {
							background-size: 16%; 
							background: url('../img/select_arrow.png') calc(100% - 10px) / 10px no-repeat transparent;
						}						
						&.selected {
							// background-position: 20px 20px;
						}
						ul {
							list-style: none;
							.form-check-label {
								span {
									font-size: 14px;
									display: inline-block;
									position: relative;
									top: -6.5px;
									padding-left: 5px;
									cursor: pointer;
								}
							}
						}
					}
					padding: 0px !important;
					// padding-left: 5px !important;
  					list-style: none;
  					font-family: 'Segoe';
  					// margin-top: 10px;
  					font-size: 16px;
  				}
			}
			// & > li::before {
			// 	content: "";
			// 	display: inline-block;
			// 	width: 10px;
			// 	height: 10px;
			// 	border-radius: 20px;
  	// 			background-color: $dorado;
  	// 			position: relative;
  	// 			top: -2px;
  	// 			margin-right: 5px;
			// }
		}
	}
}