// Tienda

#tienda {
	.row-title {
		&::after {
			content: '';
			height: 2px;
			background-color: $dorado;
			display: block;
			margin-top: 15px;
			width: 100%;
		}
		a {
			display: inline-block;
			margin-right: 10px;
			img {
				width: 50px;
			}
		}
		h3 {
			color: $white;
			font-family: 'Segoe Bold';
		}
		select {
			max-width: 250px;
			float: right;
		}
	}

	.filtro {
		display: none;
		position: absolute;
		left: 0px;
		top: 0px;
		height: 100vh;
		width: 100%;
		background-color: rgba(#000,.5);
		z-index: 99999999;
	}
	.filtro-container {
		position: absolute;
		left: -500px;
		top: 0px;
		height: 100vh;
		min-width: 350px;
		background-color: $white;
		z-index: 99999999;
		img {
			width: 50px;
			margin-right: 10px;
		}
		h3 {
			font-family: 'Segoe Bold';
			text-align: center;
			display: block;
			margin-bottom: 30px !important;
			margin-top: 20px !important;
		}
		h2 {
			border-bottom: 1px solid #c0c0c0;
			padding: 10px;
			font-family: 'Segoe Bold';
			font-size: 20px;
			.close {
				opacity: 1 !important;
				img {
					width: 15px;
					margin-top: -7.5px;
				}
			}
		}
		& > ul {
			list-style: none;
			& > li {
				margin-top: 20px;
				font-family: 'Segoe SemiBold';
				font-size: 20px;
				& > ul {
					padding: 0px !important;
					padding-left: 10px !important;
  					list-style: none;
  					font-family: 'Segoe';
  					margin-top: 10px;
  					font-size: 16px;
  				}
			}
			& > li::before {
				content: "";
				display: inline-block;
				width: 10px;
				height: 10px;
				border-radius: 20px;
  				background-color: $dorado;
  				position: relative;
  				top: -2px;
  				margin-right: 5px;
			}
		}
	}
}